<footer>
    <div class="footerSection">  
        <h4>Compañia</h4>
        <a href="#">Estadísticas</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Servicios</a>
        </ul>
    </div>
    <div class="footerSection">  
        <h4>Atención al cliente</h4>
        <a href="#">Centro de ayuda</a>
        <a href="#">Nuestras reglas</a>
        <a href="#">Recursos para creadores</a>
        </ul>
    </div>
    <div class="footerSection">  
        <h4>Más de FundMe</h4>
        <a href="#">Socios</a>
        <a href="#">Foro</a>
        <a href="#">Aplicación móvil</a>
        </ul>
    </div>
    <div class="footerSectionBottom">
        <p>Copyright © 2022 FundMe</p>
        <div class="footerRedesSociales">
            <i class="fa-brands fa-square-twitter fa-2x"></i>
            <i class="fa-brands fa-square-facebook fa-2x"></i>
            <i class="fa-brands fa-square-instagram fa-2x"></i>
            <i class="fa-brands fa-square-youtube fa-2x"></i>
        </div>
    </div>
    
</footer>