<header>
    <i id="iconoNav" onclick="abrirNav()" class="fa-solid fa-bars fa-2x"></i>
    <img id="logoHeader" src="./images/logo.png" alt="logo de la pagina">
    <form id="menuBuscador">
        <input type="text" placeholder="Buscar...">
        <button id="inputBuscador" type="button" onclick="mostrarBuscador()">
            <i class="fa fa-search fa-2x"></i>
        </button>
    </form>
    <div id="menuBuscadorMobile" class="ocultar">
        <input type="text" placeholder="Buscar...">
        <button id="inputBuscador" type="button" onclick="ocultarBuscador()">
            <i class="fa-solid fa-x fa-2x"></i>
        </button>
    </div>
    <div id="userMenu">
        <i id="iconoUsuario" class="fa fa-user fa-5x"></i>
        <div id="userButtons">
            <button class="botonesHeader lowWeight">Login</button>
            <button class="botonesHeader lowWeight">Registro</button>
        </div>
        <br>
    </div>
</header>

<nav>
    <i class="fa-solid fa-xmark fa-2x navCerrar" onclick="cerrarNav()"></i>
    <li class="navCategorias"><a href="#">Arte</a></li>
    <li class="navCategorias"><a href="#">Música</a></li>
    <li class="navCategorias"><a href="#">Cine</a></li>
    <li class="navCategorias"><a href="#">Juegos</a></li>
</nav>
<div id="navFondo" class="ocultar"></div>