:root{
    --colorPrincipal: #349a6d;
    --principalVariante: #70ffc1;
    --colorSecundarios: #a32b17;
    --secundarioVariante: #f06951;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}


