#destacadosCards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.card{
    width: 400px;
    border-radius: 5px;   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    &>img{
        width: 100%;
    }

    &>.datosCard{     
        background-color: $colorPrincipal;
        padding: 1rem;
    }
}

.datosCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>p{
        text-align: justify;
        text-justify: inter-word;
        padding: 0.5rem;
    }
}
