footer{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    background-color: $colorPrincipal;
    font-size: 16px;

    a{
        text-decoration: none;
        transition: color 0.3s;

        &:hover{
            color: $colorSecundario;
        }
    }

    h4{
        font-size: 18px;
        margin-bottom: 0.5rem;
    }
}

.footerSection{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 33.33%;
    gap: 2px;
}

.footerSectionBottom{
    margin: 1rem 15% 1rem 15%;
    border-top: 2px solid $secundarioVariante;
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerRedesSociales{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    >i{
        transition: color 0.3s;
        cursor: pointer;

        &:hover{         
            color: $colorSecundario;
        }
    }
}
