
header{
    padding: 0.5rem;
    background-color: $colorPrincipal;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

#iconoNav{
    display: none;
}

.logoHeader{
    justify-self: center;
    width: 300px;
}

#menuBuscador{
    $radioBorder: 20px;
    $paddingItems: 0.8rem;

    display: flex;
    justify-content: center;
    height: 40px;
    width: 70%;
    justify-self: center;
    cursor: pointer;
    border-radius: $radioBorder;

    >input{    
        width: 100%;
        padding-left: $paddingItems;
        border-radius: $radioBorder 0 0 $radioBorder; 
        color: black;   
        background-color: $colorPrincipal;
        border: 1px solid black;

        &:focus{
            outline: none;
            border-right: none;
            border: 1px solid $colorSecundario;
        }

    }

    >button{
        cursor: pointer;
        background-color: $principalVariante;
        padding-right: $paddingItems;
        border-radius: 0 $radioBorder $radioBorder 0;
        border: 1px solid black;
        border-left: 0;
    }
}

#userMenu{
    display: flex;
    align-items: center;

    gap: 2rem;
    justify-self: center;

    >i{
        color: $negro;
    }
}


#userButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15rem;
    height: 80px;
}

.botonesHeader{
    background-color: $colorSecundario;
    border: 0;
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover{
        background-color: darken($colorSecundario, 10%);
    }
}

.navCerrar{
    display: none;
    cursor: pointer;
}



nav{
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0;
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: $principalVariante;
}

.navCategorias{
    list-style-type: none;

    &>a{    
        text-decoration: none;
        font-size: 1.3rem;
        color: $secundarioVariante;
        transition: color 0.3s;
    }

    &::after{
        content: '|';
        padding: 0 1rem;
        font-size: 1.3rem;

    }

    &:last-child::after{
        content: '';
    }

    &>a:hover{     
        color: $colorSecundario;
    } 
}

.ocultar{
    display: none;
}

.buscadorMobile{
    $radioBorder: 20px;

    display: flex;
    position: absolute;
    width: 100%;
    min-width: 360px;
    height: 56px;
    z-index: 1;
    background-color: $colorPrincipal;
    align-items: center;
    padding: 0rem 1.5rem 0 0.5rem;
    justify-self: center;
    align-self: center;
    justify-content: center;
    


    >input{
        width: 80%;
        height: 35.4px;
        border: 0;
        padding: 1rem;
        border: 1px solid $negro;
        border-top-left-radius: $radioBorder;
        border-bottom-left-radius: $radioBorder;

        &:focus{
            border: 1px solid $colorSecundario;
            outline: none;
        }
    }

    >button{
        background-color: white;
        border: 0;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 0 $radioBorder $radioBorder 0;
        padding-right: 0.5rem;
        

        >i{
            font-size: 25px;
            padding: 0.2rem;
        }
    }
}


/*------------------MEDIA QUERIES------------------*/

@media only screen and (max-width: 875px) {
    header{
        background-color: $principalVariante;
        grid-template-columns:  30px 1fr 4fr 1fr;
        border-bottom: 2px solid $negro;
    }

    #iconoNav{
        display: block;
        cursor: pointer;
    }

    .logoHeader{
        width: 200px;
        margin-left: 1rem;
    }

    #userButtons{
        display: none;
    }

    #menuBuscador{
        width: 100%;
        justify-content: flex-end;
        cursor: auto;

        >input{
            display: none;
        }

        >button{
            border: 0;
            background-color: $principalVariante;
            padding: 0;
            padding-right: 0.5rem;
        }
    }

    #userMenu{
        gap: 0;
        border-left: 2px solid $negro;
        width: 100%;
        padding-left: 0.5rem;

        >i{
            cursor: pointer;
            font-size: 26.6667px;
        }
    }

    nav{
        display: none;
    }

    .mostrarNav{
        z-index: 1;
        background-color: $colorPrincipal;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        height: 100%;
        border: 0;
        border-right: 2px solid $negro;
        padding: 1rem;

        >li>a{
            border: 0;
        }

        >i{ 
            display: block;
            align-self: flex-end;
            transition: color 0.3s;
            &:hover{
                color: $colorSecundario;
            }
        }
    }

    .navCategorias{
        &::after{
            content: '';
        }

        margin-top: 1rem;
        text-align: center;

        >a:hover{
            text-decoration: underline;
        }
    }

    .overlayNav{
        display: inline;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        background-color: $negro;
        opacity: 0.2;
    }
}