
header{
    padding: 0.5rem;
    background-color: $colorPrincipal;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

#logoHeader{
    justify-self: center;
    width: 300px;
}

#menuBuscador{
    $radioBorder: 20px;
    $paddingItems: 0.8rem;

    display: flex;
    justify-content: center;
    height: 40px;
    width: 70%;
    justify-self: center;
    cursor: pointer;
    border-radius: $radioBorder;

    &>input{    
        width: 100%;
        padding-left: $paddingItems;
        border-radius: $radioBorder 0 0 $radioBorder; 
        color: black;   
        background-color: $colorPrincipal;
        border: 1px solid black;

        &:focus{
            outline: none;
            border-right: none;
            border: 1px solid $colorSecundario;
        }

    }

    &>button{
        cursor: pointer;
        background-color: $principalVariante;
        padding-right: $paddingItems;
        border-radius: 0 $radioBorder $radioBorder 0;
        border: 1px solid black;
        border-left: 0;
    }
}

#userMenu{
    display: flex;
    align-items: center;

    gap: 2rem;
    justify-self: center;
}


#userButtons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 200px;
}



nav{
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0;
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: $principalVariante;
}

.navCategorias{
    list-style-type: none;

    &>a{    
        text-decoration: none;
        font-size: 1.3rem;
        color: $secundarioVariante;
    }

    &::after{
        content: '|';
        padding: 0 1rem;
        font-size: 1.3rem;

    }

    &:last-child::after{
        content: '';
    }

    &>a:hover{     
        color: $colorSecundario;
    } 
}