

#seccionInfo{
    background-color: $colorPrincipal;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;

    &>img{
        width: 400px;
        justify-self: center;
        align-self: center;
    }
}

#infoText{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    justify-self: flex-end;
    text-align: justify;
    margin-left: 10rem;

    &>h1{
        font-weight: 100%;
        &:first-child{
            color: $secundarioVariante;
            font-style: italic;
        }
        &:nth-child(2){
            margin-bottom: 2rem;
        }
    }
}

#botonesInfo{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.estiloBoton{
    font-size: 1rem;
    font-weight: bolder;
    padding: 1rem 2rem 1rem 2rem;
    background-color: $colorSecundario;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover{
        background-color: darken($colorSecundario, 10%);
    }
}

#seccionDestacados{
    text-align: center;
    padding: 3rem;
    background-color: $principalVariante;
    
}

#destacadosCards{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

    #infoText{
        margin-left: 1rem;
        
        >h1{
            font-size: 50px;
        }

        >h3{
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 875px) {
    #seccionInfo{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        
        >img{
            grid-row: 2/3;
        }
    }
}

@media only screen and (max-width: 440px){
    #infoText{
        width: 100%;
        margin-left: 0;
        
        >h1{
            font-size: 38px;
        }
    }

    #seccionInfo{
        >img{
            width: 100%;
        }
    }

    .estiloBoton{
        padding: 0.8rem 0.8rem 0.8rem 0.8rem;
        font-size: 0.8rem;
    }
}

    