$colorPrincipal: #f6f1eb;
$principalVariante: #faf8f5;
$colorSecundario: #18a5d6;
$secundarioVariante: #f01446;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');




*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}


body{
    height: 100vh;
}


@import './header.scss';

@import './home.scss';