$colorPrincipal: #f6f1eb;
$principalVariante: #faf8f5;
$colorSecundario: #f01446;
$secundarioVariante: #18a5d6;
$letrasNegro: #232221;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: $letrasNegro;
}


body{
    height: 100vh;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 20px;
}

.lowWeight{
    font-weight: 600;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    background-color: $colorSecundario;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;

    &>i{
        color: $colorPrincipal;
    }
  }


@import './header.scss';

@import './home.scss';

@import './card.scss';

@import './footer.scss';

